html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-family: $ff-opensans;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
