//colors
$color-white: #ffffff;
$color-black: #000000;
$color-aubergine: #231f20;
$color-charcoal: #444444;
$color-whisper: #ececec;
$color-downy: #63d1bb;
$color-puerto-rico: #56c3b2;
$transparent: rgba(0, 0, 0, 0);

//fonts
$ff-opensans: "Open Sans", "Arial", sans-serif;

// viewports
$vp-768: 768px;
$vp-1150: 1150px;
